*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: sticky !important;
}
.navbar a:hover{
    color: rgb(151, 151, 255);
}
.navbar a{
    font-size: 1.5rem;
}
.active{
    font-weight: 500;
    color: rgb(151, 151, 255) !important;
    border-bottom: 2px solid rgb(151, 151, 255);
}