<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1>Secret</h1>


    {{>footer}}
</body>

</html>